<div class="login-logo text-center">
  <a href="/">
    <img src="/statics/assets/LogoFinal.png" alt="Logo" />
  </a>
</div>

<div class="login-container">
  <div class="form-login">
    <h4 class="text-center">Bạn quên mật khẩu?</h4>
    {{#if this.userFound}}
    {{else}}
      <p class="mgbt20 d-inline-block text-danger"><em>*Nhập Email đã đăng ký để lấy lại mật khẩu</em></p>
    {{/if}}
    <form method="POST" action="/auth/forgotPassword">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email"
          {{#if this.userNotFound}}
             class="form-control is-invalid"
             placeholder="vidu@email.com"
          {{else if this.userFound}}
             class="form-control"
             value = "{{this.user.email}}"
          {{else}}
             class="form-control"
             placeholder="vidu@email.com"
          {{/if}}
          id="email" name="email" 
          required
        />
        {{#if this.userNotFound}}
          <div class="invalid-feedback">
            Email này chưa được đăng ký.
          </div>
        {{/if}}
      </div>

      {{#if this.userFound}}
        <div class="mb-3">
          <label for="otp" class="form-label">Nhập mã OTP</label> <br>
          {{#if this.wrongOTP}}
          <p class="mgbt20 d-inline-block text-danger"><em>*Mã OTP không đúng. Vui lòng nhập lại.</em></p>
          {{else}}
          <p class="mgbt20 d-inline-block text-info"><em>*Mã OTP đã được gửi qua email vừa nhập.</em></p>
          {{/if}}
          <input type="hidden" name="realotp" value="{{this.otp}}" />
          <input type="text" class="form-control" id="otp" name="otp" placeholder="Nhập mã OTP" required/>
        </div>
      {{/if}}

      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn custom-btn btn-lg w-100">
          {{#if this.userFound}}
            Xác nhận OTP
            {{else}}
            Nhận mã OTP
          {{/if}}
        </button>
      </div>
      
      <div class="form-footer mt-3">
        Chưa có tài khoản?
        <a href="/auth/register">Đăng ký</a>
      </div>
    </form>
    
    <div class="divider my-4 text-center">Hoặc</div>

    <div class="d-grid gap-2">
      <a href="/auth/google" class="btn custom-social-btn w-100 d-flex align-items-center mb-3">
        <img
          src="/statics/assets/Google.png"
          alt="Google Logo"
          class="me-2"
          style="width: 28px; height: 28px;"
        />
        <span>Đăng nhập bằng Google</span>
      </a>
      <a href="/auth/facebook" class="btn custom-social-btn w-100 d-flex align-items-center mb-3">
        <img
          src="/statics/assets/Facebook.png"
          alt="Facebook Logo"
          class="me-2"
          style="width: 28px; height: 28px;"
        />
        <span>Đăng nhập bằng Facebook</span>
      </a>
      <a href="/auth/github" class="btn custom-social-btn w-100 d-flex align-items-center mb-3">
        <img
          src="/statics/assets/Github.png"
          alt="Github Logo"
          class="me-2"
          style="width: 28px; height: 28px;"
        />
        <span>Đăng nhập bằng Github</span>
      </a>
    </div>
  </div>
</div>