<div class="container bg-light p-3 rounded-lg shadow">
  <div class="d-flex">
    <h1>
      Quản lý thẻ
    </h1>
    <button class="btn btn-primary ml-auto" data-toggle="modal" data-target="#addHashtagModal">
      Thêm thẻ
    </button>
  </div>
</div>

<div class="container bg-light p-3 rounded-lg shadow my-4">
  <form class="form-inline ml-auto mr-3" method="get" action="/admin/hashtags">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Tìm kiếm thẻ" name="search" value="{{this.searchTerm}}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Số bài báo</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#if this.empty}}
      <tr>
        <td colspan="5" class="text-center">Hiện chưa có thẻ nào</td>
      </tr>
      {{/if}}
      {{#each this.hashtags}}
      <tr data-id="{{id}}">
        <th scope="row">{{getNext @index}}</th>
        <td>{{tag_name}}</td>
        <td>{{usage}}</td>
        <td>{{formatDate created_at}}</td>
        <td>
          <button class="btn btn-edit edit-hashtag" data-toggle="modal" data-target="#editHashtagModal"
            data-id="{{id}}" data-tag_name="{{tag_name}}">
            Sửa
          </button>
          <button class="btn btn-primary delete-hashtag" data-toggle="modal" data-target="#deleteHashtagModal"
            data-id="{{id}}">
            Xóa
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination">
      {{#each this.pageItems}}
      <li class="page-item">
        <a class="page-link" href="/admin/hashtags?page={{value}}&search={{searchTerm}}">{{value}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
</div>

<div class="modal fade" id="addHashtagModal" tabindex="-1" aria-labelledby="addHashtagTitle" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" method="post" action="/admin/hashtags/create">
      <div class="modal-header">
        <h5 class="modal-title" id="addHashtagModalTitle">Thêm thẻ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="HashtagName">Tên thẻ</label>
          <input type="text" class="form-control" id="tag_name" name="tag_name" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="editHashtagModal" tabindex="-1" aria-labelledby="editHashtagModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" method="post" action="/admin/hashtags/edit">
      <div class="modal-header">
        <h5 class="modal-title" id="editHashtagModalTitle">Sửa thẻ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="editHashtagId" name="id">
        <div class="form-group">
          <label for="editHashtagName">Tên thẻ</label>
          <input type="text" class="form-control" id="editHashtagName" name="tag_name" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="deleteHashtagModal" tabindex="-1" aria-labelledby="deleteHashtagModalTitle"
  aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" method="post" action="/admin/hashtags/delete">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteHashtagModalTitle">Xóa thẻ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="deleteHashtagId" name="id">
        <p>Bạn có chắc chắn muốn xóa thẻ này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button type="submit" class="btn btn-primary">Xóa</button>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Edit Modal Population
    $('#editHashtagModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var id = button.data('id');
      var tag_name = button.data('tag_name');

      var modal = $(this);
      modal.find('#editHashtagId').val(id);
      modal.find('#editHashtagName').val(tag_name);
    });

    // Delete Modal Population
    $('#deleteHashtagModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var id = button.data('id');

      var modal = $(this);
      modal.find('#deleteHashtagId').val(id);
    });
  });
</script>