<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/statics/styles/global.css">
    <link rel="icon" type="image/x-icon" href="/statics/assets/favicon.ico">
    <link rel="stylesheet" href="/statics/styles/admin.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.js"></script>
    <title>{{ title }} {{#if title}}|{{/if}} Admin Dashboard</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Logo and Date -->
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="/">
                    <img src="/statics/assets/LogoFinal.png" style="height: 40px; width: auto"
                        class="d-inline-block align-top" alt="">
                </a>
                <span class="navbar-text ml-2">
                    <!-- Display current date and day -->
                    {{ today }}
                </span>
            </div>
            <div class="d-flex align-items-center position-relative">
                <!-- Notification Panel -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto align-items-md-center">
                        {{#if auth}}
                            <li class="nav-item nav-item-group" style="font-size: 1.2rem;">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="/" role="button" data-toggle="dropdown">
                                        <i class="bi bi-person-circle"></i> &nbsp;
                                        Xin chào, {{authUser.fullname}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/">
                                            <i class="bi-person-circle"></i> &nbsp;
                                            Hồ sơ
                                        </a>
                                        {{#if (eq authUser.role 'writer')}}
                                            <a class="dropdown-item" href="/admin/articles/create">
                                                <i class="bi bi-upload"></i> &nbsp;
                                                Đăng tải bài viết
                                            </a>
                                        {{/if}}
                                        {{#if (eq authUser.role 'editor')}}
                                            <a class="dropdown-item" href="/admin/articles">
                                                <i class="bi bi-pencil-square"></i> &nbsp;
                                                Quản lý bài viết
                                            </a>                                        
                                        {{/if}}
                                        {{#if (eq authUser.role 'admin')}}
                                            <a class="dropdown-item" href="/admin">
                                                <i class="bi bi-gear"></i> &nbsp;
                                                Quản lý trang báo
                                            </a>
                                        {{/if}}
                                        <form id="frmLogout" action="/auth/logout" method="post"></form>
                                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">
                                            <i class="bi-box-arrow-right" href="/auth/logout"></i> &nbsp; 
                                            Đăng xuất
                                        </a>
                                    </div>
                                </div>     
                            </li>
                        {{else}}
                            <li class="nav-item nav-item-group" style="font-size: 1.2rem;">
                                <a class="nav-link" href="/auth/login">
                                    <i class="bi bi-person-circle"></i> &nbsp;
                                    Đăng nhập 
                                </a>
                                <form class="search-form" action="/articles/search" method="GET">
                                    <div class="search-container">
                                        <input type="text" class="search-input" placeholder="Tìm kiếm..." name = "search">
                                        <i class="nav-link bi bi-search search-icon" style="cursor: pointer"></i>
                                    </div>
                                </form>
                            </li>
                        {{/if}}
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto align-items-md-center">
                        <li class="nav-item nav-item-group" style="font-size: 1.2rem;">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="notificationBell">
                                    <i class="bi bi-bell text-dark noti-icon" style="cursor: pointer"></i>
                                    <span class="badge badge-danger" id="notificationCount">3</span>
                                </a>
                                <div id="notificationPanel" class="dropdown-menu dropdown-menu-right notification-panel position-absolute bg-white shadow-sm p-3 m-0" style="display: none;">
                                    <a class="dropdown-item" href="#">Thông báo 1</a>
                                    <a class="dropdown-item" href="#">Thông báo 2</a>
                                    <a class="dropdown-item" href="#">Thông báo 3</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar" class="bg-dark text-white position-fixed d-flex flex-column justify-content-between">
        <ul class="list-unstyled p-0 m-0 flex-grow-1 text-white text-decoration-none">
            <li class="p-3 border-bottom">
                <a href="/" class="d-flex align-items-center">
                    <i class="bi bi-house-door mr-2"></i>
                    Bảng tin
                </a>
            </li>
            <!-- Nếu là admin -->
            <li class="p-3 border-bottom">
                <a href="/admin/articles" class="d-flex align-items-center">
                    <i class="bi bi-file-earmark-text mr-2"></i>
                    {{#if (eq authUser.role 'editor')}}
                    Duyệt bài
                    {{else}}
                    Bài viết
                    {{/if}}
                </a>
            </li>
            {{#if (eq authUser.role 'admin')}}
            <li class="p-3 border-bottom">
                <a href="/admin/category-group" class="d-flex align-items-center">
                    <i class="bi bi-card-list mr-2"></i>
                    Danh mục
                </a>
            </li>
            <li class="p-3 border-bottom">
                <a href="/admin/category" class="d-flex align-items-center">
                    <i class="bi bi-bookmarks mr-2"></i>
                    Chuyên mục
                </a>
            </li>
            <li class="p-3 border-bottom">
                <a href="/admin/hashtags" class="d-flex align-items-center">
                    <i class="bi bi-tags mr-2"></i>
                    Nhãn tag
                </a>
            </li>
            <li class="p-3 border-bottom">
                <a href="/admin/user" class="d-flex align-items-center">
                    <i class="bi bi-people mr-2"></i>
                    Người dùng
                </a>
            </li>

            <li class="p-3 border-bottom">
                <a href="/admin/assign" class="d-flex align-items-center">
                    <i class="bi bi-person-check mr-2"></i>
                    Phân công
                </a>
            </li>
            {{/if}}
        </ul>
        <ul class="list-unstyled p-0 m-0 text-white text-decoration-none">
            <li class="p-3 border-top">
                <a href="#" class="d-flex align-items-center">
                    <i class="bi bi-gear mr-2"></i>
                    Cài đặt
                </a>
            </li>
        </ul>
    </div>
    <!-- Main Content -->
    <div class="content p-3">
        {{{ body }}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="/statics/scripts/global.js"></script>

    <!-- Script for admin page -->
    <script src="/statics/scripts/admin.js"></script>
</body>

</html>