<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/statics/styles/global.css">
    <link rel="stylesheet" href="/statics/styles/home.css">
    <link rel="icon" type="image/x-icon" href="/statics/assets/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <title>{{ title }} {{#if title}}|{{/if}} Báo điện tử Cripsy Chicken Rice</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white !important">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/statics/assets/LogoFinal.png" style="height: 40px; width: auto"
                    class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <span class="navbar-text">
                {{ today }}
            </span>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto align-items-md-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Mới nhất</a>
                    </li>
                    <li class="nav-item" style="padding: .5rem">
                        <img src="/statics/assets/LogoPremium.png" alt="Logo premium" style="height: 30px; width: auto">
                    </li>
                    {{#if auth}}
                        <li class="nav-item nav-item-group" style="font-size: 1.2rem;">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="/" role="button" data-toggle="dropdown"><i class="bi bi-person-circle"></i> 
                                    Xin chào, {{authUser.fullname}}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/profile/{{authUser.username}}">
                                        <i class="bi-person-circle"></i> &nbsp;
                                        Hồ sơ
                                    </a>
                                    {{#if (eq authUser.role 'writer')}}
                                        <a class="dropdown-item" href="/admin/articles/create">
                                            <i class="bi bi-upload"></i> &nbsp;
                                            Đăng tải bài viết
                                        </a>
                                    {{/if}}
                                    {{#if (eq authUser.role 'editor')}}
                                        <a class="dropdown-item" href="/admin/articles">
                                            <i class="bi bi-pencil-square"></i> &nbsp;
                                            Quản lý bài viết
                                        </a>                                        
                                    {{/if}}
                                    {{#if (eq authUser.role 'admin')}}
                                        <a class="dropdown-item" href="/admin">
                                            <i class="bi bi-gear"></i> &nbsp;
                                            Quản lý trang báo
                                        </a>
                                    {{/if}}
                                    <form id="frmLogout" action="/auth/logout" method="post"></form>
                                    <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">
                                        <i class="bi-box-arrow-right" href="/auth/logout"></i> &nbsp; 
                                        Đăng xuất
                                    </a>
                                </div>
                            </div>                            
                            <form class="search-form" action="/articles/search" method="GET">
                                <div class="search-container">
                                    <input type="text" class="search-input" placeholder="Tìm kiếm..." name = "search">
                                    <i class="nav-link bi bi-search search-icon" style="cursor: pointer"></i>
                                </div>
                            </form>
                        </li>
                    {{else}}
                    <li class="nav-item nav-item-group" style="font-size: 1.2rem;">
                        <a class="nav-link" href="/auth/login"><i class="bi bi-person-circle"></i> Đăng nhập</a>
                        <form class="search-form" action="/articles/search" method="GET">
                            <div class="search-container">
                                <input type="text" class="search-input" placeholder="Tìm kiếm..." name="search">
                                <i class="nav-link bi bi-search search-icon" style="cursor: pointer"></i>
                            </div>
                        </form>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <div style="border-top: 1px solid black; border-bottom: 1px solid black; background-color: white;">
        <ul class="container nav nav-bottom justify-content-start">
            <li class="nav-item mr-md-4">
                <a class="nav-link active" href="/"><i style="color: #E51636" class="bi bi-house-door-fill"></i></a>
            </li>
            {{#each categoryGroupsWithCategories}}
            <li class="nav-item dropdown nav-item-category mr-md-4 ml-md-4">
                <a class="nav-link font-weight-bold" href="/category_group/{{this.id}}" role="button"
                    aria-expanded="false">{{this.name}}</a>
                <div class="dropdown-menu m-0 p-0">
                    {{#each this.categories}}
                    <a class="dropdown-item mt-0 px-4 py-2" href="/category/{{this.id}}">{{this.name}}</a>
                    {{/each}}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="container shadow mb-4" style="background-color: white; min-height: 75svh;">
        {{{ body }}}
    </div>
    
    <div class="container mb-4 py-4" style="background-color: white;">
        <div class="container pb-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-danger">Báo điện tử Cripsy Chicken Rice</h5>
                    <p>
                        Địa chỉ: 123 Đường ABC, Quận 1, TP. Hồ Chí Minh, Việt Nam <br>
                        Điện thoại: (0123) 456-7890 <br>
                        Email: contact@crispychickenrice.vn
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-danger">Liên kết nhanh</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/" class="text-dark">Trang chủ</a>
                        </li>
                        <li>
                            <a href="/about" class="text-dark">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="/contact" class="text-dark">Liên hệ</a>
                        </li>
                        <li>
                            <a href="/privacy" class="text-dark">Chính sách bảo mật</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-danger">Theo dõi chúng tôi</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-facebook"></i> Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-twitter"></i> Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-youtube"></i> YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 Bản quyền thuộc về Báo điện tử Cripsy Chicken Rice
        </div>
    </div>
    {{!--
    <footer class="bg-light text-center text-lg-start mb-4">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-danger">Báo điện tử Cripsy Chicken Rice</h5>
                    <p>
                        Địa chỉ: 123 Đường ABC, Quận 1, TP. Hồ Chí Minh, Việt Nam
                    </p>
                    <p>
                        Điện thoại: (0123) 456-7890
                    </p>
                    <p>
                        Email: contact@crispychickenrice.vn
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-danger">Liên kết nhanh</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/" class="text-dark">Trang chủ</a>
                        </li>
                        <li>
                            <a href="/about" class="text-dark">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="/contact" class="text-dark">Liên hệ</a>
                        </li>
                        <li>
                            <a href="/privacy" class="text-dark">Chính sách bảo mật</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-danger">Theo dõi chúng tôi</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-facebook"></i> Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-twitter"></i> Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"><i class="bi bi-youtube"></i> YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Bản quyền thuộc về Báo điện tử Cripsy Chicken Rice
        </div>
    </footer> --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="/statics/scripts/global.js"></script>
    <script>
        // Enable hover dropdowns
        document.querySelectorAll('.nav-item.dropdown').forEach(function (dropdown) {
            dropdown.addEventListener('mouseover', function () {
                this.classList.add('show');
                this.querySelector('.dropdown-menu').classList.add('show');
            });
            dropdown.addEventListener('mouseout', function () {
                this.classList.remove('show');
                this.querySelector('.dropdown-menu').classList.remove('show');
            });
        });

        // Back to top button
        const backToTopButton = document.createElement('button');
        backToTopButton.innerHTML = '↑';
        backToTopButton.id = 'back-to-top';
        backToTopButton.style.position = 'fixed';
        backToTopButton.style.bottom = '20px';
        backToTopButton.style.right = '20px';
        backToTopButton.style.display = 'none';
        backToTopButton.style.backgroundColor = 'white';
        backToTopButton.style.color = '#E51636';
        backToTopButton.style.border = ' 1px solid #E51636';
        backToTopButton.style.borderRadius = '50%';
        backToTopButton.style.width = '50px';
        backToTopButton.style.height = '50px';
        backToTopButton.style.cursor = 'pointer';
        document.body.appendChild(backToTopButton);

        window.addEventListener('scroll', function () {
            if (window.scrollY > 300) {
                backToTopButton.style.display = 'block';
            } else {
                backToTopButton.style.display = 'none';
            }
        });

        backToTopButton.addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>
</body>

</html>